{% extends 'base.html' %}


{% block content %}

    <div class="container-fluid g-5">
        <div class="row mt-5 ">
            <div class="col-4">
                <div class="list-group">
                    <a href="" class="list-group-item list-group-item-action">Completed Order</a>
                    <a href="" class="list-group-item list-group-item-action">Processing Order</a>
                    <a href="" class="list-group-item list-group-item-action">Cancelled Order</a>
                    <a href="" class="list-group-item list-group-item-action">Return Order</a>
                    <a href="" class="list-group-item list-group-item-action">Settings</a>
                </div>
            </div>
            <div class="col-8">
                <h5>My Orders</h5>
                {% for odr in order  %}
                <div class="card mb-3">
                    <div class="card-header">
                        <span class="float-start">Order ID: {{odr.ref_code}}</span>
                        <span class="float-end">Date of Order: {{odr.start_date}}</span>
                    </div>
                    <div class="card-body">
                {% for order_item in odr.items.all  %}
                    <div class="media d-md-flex p-2 d-block mt-3">
                        <img src="{{order_item.item.image.url}}" style="object-fit:cover;height:80px" width="80px" class="media-image d-block shadow"  alt="">

                        <div class="media-body ps-3">
                            <h5 class="h6">{{order_item.item.title}}</h5>
                           <span class="d-block">
                                {% if order_item.item_variations.exists %}
                                    {% for foo in order_item.item_variations.all  %}
                                        <small class="text-muted">{{foo.variation.name}} : {{foo.value}}</small>
                                    {% endfor %}
                                {% endif %}
                           </span>
                        <span class="d-inline-block">
                            {% if order_item.item.discount_price %}
                                <p class="text-dark m-0 p-0 d-inline">₹{{order_item.get_total_discount_price}}</p>
                                <p class="text-muted m-0 p-0 fw-normal d-inline"><del>₹{{order_item.get_total_price}}</del></p>
                                <p class="text-succes m-0 p-0 d-inline">Total Saved: ₹{{order_item.get_saved_amount}} ({{order_item.total_discount_precentage_price}}%)</p>
                            {% else %}
                                <p class="text-muted h5 fw-normal d-inline">₹{{order_item.item.price}}</p>
                            {% endif %}
                        </span>
                       
                        </div>
                        
                    </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
            </div>
        </div>
    </div>

{% endblock  %}