{% extends 'base.html' %}


{% block content %}

    <div class="container-fluid g-5">
        <div class="row mt-5 ">
            <div class="col-8">
                {% for order_item in object.items.all  %}
                    <div class="media d-md-flex shadow p-2 d-block mt-3">
                        <img src="{{order_item.item.image.url}}" width="120px" class="media-image d-block shadow"  alt="">

                        <div class="media-body ps-3">
                            <h5 class="mt-1 fw-bolder">{{order_item.item.title}}</h5>
                           <span class="d-block">
                                {% if order_item.item_variations.exists %}
                                    {% for foo in order_item.item_variations.all  %}
                                        <small class="text-muted">{{foo.variation.name}} : {{foo.value}}</small>
                                    {% endfor %}
                                {% endif %}
                           </span>
                        <span class="d-block my-2">
                            {% if order_item.item.discount_price %}
                                <p class="text-dark h5 fw-bold d-inline">₹{{order_item.get_total_discount_price}}</p>
                                <p class="text-muted h5 fw-normal d-inline"><del>₹{{order_item.get_total_price}}</del></p>
                                <p class="text-success fw-bold">Total Saved: ₹{{order_item.get_saved_amount}} ({{order_item.total_discount_precentage_price}}%)</p>
                            {% else %}
                                <p class="text-muted h5 fw-normal d-inline">₹{{order_item.item.price}}</p>
                            {% endif %}
                        </span>
                        <span class="d-block my-2">
                            <a href="{% url 'core:minus-from-cart' order_item.item.slug %}" class=" btn btn-danger fw-bolder">-</a>
                            <span class="">{{order_item.qty}}</span>
                            <a href="{% url 'core:add-to-cart' order_item.item.slug %}" class=" btn btn-success fw-bolder">+</a>
                        </span>

                        <div class="d-inline-block">
                            <a href="{% url 'core:remove-from-cart' order_item.item.slug %}" class="btn btn-secondary float-end">Remove</a>
                        </div>
                        </div>
                        
                    </div>
                {% endfor %}
            </div>
            <div class="col-4">
                <h3 class=" display-6">Price Breakpoint</h3>
                <div class=" list-group">
                    <div class="list-group-item list-group-item-action">
                        <span class="fw-bold">Total Amount</span>
                        <span class="float-end">₹{{object.get_total}}</span>
                    </div>
                    <div class="list-group-item list-group-item-action">
                        <span class="fw-bold">Tax GST(18%)</span>
                        <span class="float-end">₹{{object.get_total_tax}}</span>
                    </div>
                  {% if object.get_total_discount_amount > 0.0 %}
                  <div class="list-group-item list-group-item-action bg-success text-white">
                    <span class="fw-bold">Total Discount</span>
                    <span class="float-end">₹{{object.get_total_discount_amount}}</span>
                </div>
                {% endif %}
                
                  {% if object.coupon %}
                  <div class="list-group-item list-group-item-action bg-warning text-white">
                    <span class="fw-bold">Coupon Discount</span>
                    <span class="float-end">₹{{object.coupon.amount}}</span>
                </div>
                  {% endif %}
                    <div class="list-group-item list-group-item-action display-6">
                        <span class="fw-bold">Total Payable</span>
                        <span class="float-end small">₹{{object.get_payable_amount}}</span>
                    </div>
                </div>

                {% if object.coupon %}
                    <h2 class="h6 text-center mt-2">{{object.coupon.code}} already Applied <a href="{% url 'core:remove-coupon' %}" class="h6">Remove</a></h2>
                {% else %}
                <div class="card mt-3">
                    <div class="card-body">
                        <form action="{% url 'core:add-coupon' %}" method="post" class="d-flex">
                            {% csrf_token %}
                            {{couponform.code}}
                            <input type="submit" class="btn btn-success" value="Go">
                        </form>
                    </div>
                </div>
                {% endif %}


                <div class="row mt-5">
                    <div class="col">
                        <a href="" class="btn btn-success w-100">Continue Shopping</a>
                    </div>
                    <div class="col">
                        <a href="{% url 'core:checkout'%}" class="btn btn-warning w-100">Checkout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock  %}